<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>WikiAudia</title>
		<script type="text/javascript" src="/static/WikiApp/js/pramukhime.js"></script>
        <script type='text/javascript' src='/static/WikiApp/js/pramukhindic.js' ></script>
		<script type="text/javascript" src="/static/WikiApp/js/pramukhime-common.js"></script>
        <link type="text/css" href="/static/WikiApp/css/pramukhtypepad.css" rel="Stylesheet" />
	</head>
	<body>
	<h1>Digitize the following image !</h1>
	
	<img border="0" src="/static/WikiApp/img/hindi.jpg" width="650" height="400" />
	
     <table cellpadding="3" cellspacing="0" border="1" class="editor">
            <tr class="editortoolbar">
                <td><div class="iconflex"> <select id="drpLanguage"
						onchange="javascript:changeLanguage(this.options[this.selectedIndex].value);" 
						name="drpLanguage" title="Choose Language" class="big">
<option value='pramukhindic:assamese'>Assamese</option>
<option value='pramukhindic:bengali'>Bengali</option>
<option value='pramukhindic:bodo'>Bodo</option>
<option value='pramukhindic:dogri'>Dogri</option>
<option value='pramukhindic:gujarati'>Gujarati</option>
<option value='pramukhindic:hindi'>Hindi</option>
<option value='pramukhindic:kannada'>Kannada</option>
<option value='pramukhindic:konkani'>Konkani</option>
<option value='pramukhindic:maithili'>Maithili</option>
<option value='pramukhindic:malayalam'>Malayalam</option>
<option value='pramukhindic:manipuri'>Manipuri</option>
<option value='pramukhindic:marathi'>Marathi</option>
<option value='pramukhindic:nepali'>Nepali</option>
<option value='pramukhindic:oriya'>Oriya</option>
<option value='pramukhindic:punjabi'>Punjabi</option>
<option value='pramukhindic:sanskrit'>Sanskrit</option>
<option value='pramukhindic:santali'>Santali</option>
<option value='pramukhindic:sindhi'>Sindhi</option>
<option value='pramukhindic:tamil'>Tamil</option>
<option value='pramukhindic:telugu'>Telugu</option>

						<option value=":english" selected="selected">English (F9)</option>
				</select></div>
                <ul id="toolbar">
                    <li><a href="javascript:;" onclick="showHelp(this);" id="cmdhelp" title="Typing help"></a></li>
                </ul>
                </td>
            </tr>
            <tr>
                <td><textarea id="typingarea" name="typingarea" rows="5" cols="50" class="bigger" spellcheck="false"></textarea></td>
            </tr>
        </table>
		
        <div id="dialog">
                <div id="dialogheader"></div>
                <div id="pramukhimehelp">
                    <div style="text-align:center;" id="pramukhimehelptypetitle"><input type="radio" name="helptype" value="quick" checked="checked" onclick="selectHelpType();"/> Quick Help <input type="radio" name="helptype" value="detailed" onclick="selectHelpType();"/> Detailed Help<br /></div>
                    
                    <div id="pramukhimehelpquick">
                        WikiAudia Type Pad is used for typing easily into Indian languages. It follows 'The way you speak, the way you type' rule. 
                        Following image shows which character will be shown by pressing which corresponding English letter. 
                        Example for various combination of letters are given only for one character but it is true for each alphabet.<br />
                        <div style="text-align:center;">
                            <img src="/static/WikiApp/img/pramukhime-english.png" alt="character map" id="pramukhimecharmap" />
                        </div>
                    </div>
                    <iframe src="" id="pramukhimehelpdetailed"></iframe>
                </div>
                <div id="dialogfooter"><input type="button" value="Cancel" onclick="closeDialog();" /></div>
            </div>
        <div id="blocker">
            
        </div>
        <br /></br>
		<button id="downloadDigi">Download </button>
		</br></br>
		<button id="uploadDigi">Upload</button>
        <script language="javascript" type="text/javascript">
		    pramukhIME.addLanguage(PramukhIndic);

			pramukhIME.enable();
			pramukhIME.onLanguageChange(scriptChangeCallback);
			var lang = (getCookie('pramukhime_language',':english')).split(':');
			pramukhIME.setLanguage(lang[1], lang[0]);
			document.getElementById('typingarea').focus();

            // set width and height of dialog
            var w = window, d = document, e = d.documentElement, g = d.getElementsByTagName('body')[0], x = w.innerWidth || e.clientWidth || g.clientWidth, y = w.innerHeight || e.clientHeight || g.clientHeight;
            var elem = document.getElementById('dialog');
            elem.style.top = ((y - 550) / 2) + 'px';
            elem.style.left = ((x - 700) / 2) + 'px';
            
		</script>
	</body>
</html>
